<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <p>Здравствуйте, <strong>{{ username }}</strong>!</p>
    
    <p>Для завершения регистрации на BookApp, пожалуйста, перейдите по ссылке:</p>
    
    <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
    
    <p>Ссылка действительна 24 часа.</p>
    
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это письмо.</p>
    
    <p>С уважением,<br>Команда BookApp</p>
</body>
</html>